canvas {
    background-color: rgb(234, 193, 252);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    margin: 2%;
}

.settings-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hispeed {
    width: 100px;
}

.button{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container {
    padding: 2px 15px;
    display: flex;
    position: fixed;
    top: 1%;
    left: 43%;
    transform: translateX(-50%);
    gap: 20px;
    font-size: 24px;
    background-color: rgba(30, 33, 61, 0.737);
    color: white
}