canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(68, 75, 134);
    z-index: 10;
}

.canvas-container {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 2px black, 0 0 25px blue;
    text-decoration: double;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/4;
}

.settings {
    margin: 2%;
}

.settings-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1.2;
    z-index: 11;
}

#hispeed {
    width: 100px;
}

.button {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container {
    padding: 2px 15px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: rgba(30, 33, 61, 0.909);
    color: #00fff2;
    z-index: 1000;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#resetButton {
    position: fixed;
    top: 60%;
    right: 53.5%;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 40% 20% 1fr;
}

.combo-container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    transform: translateX(-50%, -50%);
    z-index: 10;
    opacity: 50%;
}

#combo {
    margin: auto;
    font-size: 50px;
    text-align: center;
    color: rgba(30, 33, 61, 0.909);
    font-weight: bold;
}
.soundTiming {
    text-align: center;
    width: 80%;
}